

pi.lan {
    reverse_proxy 192.168.0.100
}

pi.home.arpa {
    reverse_proxy 192.168.0.100
}

ha.lan {
    reverse_proxy 192.168.0.101:8123
}

ha.home.arpa {
    reverse_proxy 192.168.0.101:8123
}

homeassistant.lan {
    reverse_proxy 192.168.0.101:8123
}

homeassistant.home.arpa {
    reverse_proxy 192.168.0.101:8123
}

ntfy.lan {
    reverse_proxy 192.168.0.102
}

ntfy.home.arpa {
    reverse_proxy 192.168.0.102
}

kuma.lan {
    reverse_proxy 192.168.0.103:3001
}

kuma.home.arpa {
    reverse_proxy 192.168.0.103:3001
}

caddy.lan {
    reverse_proxy 192.168.0.104
}

caddy.home.arpa {
    reverse_proxy 192.168.0.104
}