# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

:80 {
	# Set this path to your site's directory.
	root * /usr/share/caddy

	# Enable the static file server.
	file_server

	# Another common task is to set up a reverse proxy:
	# reverse_proxy localhost:8080

	# Or serve a PHP site through php-fpm:
	# php_fastcgi localhost:9000
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile


proxmox.internal:80 {
	reverse_proxy 192.168.0.200:8006
}

proxmox.home.arpa:80 {
	reverse_proxy 192.168.0.200:8006
}

pi.internal:80 {
	reverse_proxy 192.168.0.100
}

pi.home.arpa:80 {
	reverse_proxy 192.168.0.100
}

ha.internal:80 {
	reverse_proxy 192.168.0.101:8123
}

ha.home.arpa:80 {
	reverse_proxy 192.168.0.101:8123
}

homeassistant.internal:80 {
	reverse_proxy 192.168.0.101:8123
}

homeassistant.home.arpa:80 {
	reverse_proxy 192.168.0.101:8123
}

ntfy.internal:80 {
	reverse_proxy 192.168.0.102
}

ntfy.home.arpa:80 {
	reverse_proxy 192.168.0.102
}

ntfy-pi.home.arpa:80 {
	reverse_proxy 192.168.0.100:1005
}

kuma.internal:80 {
	reverse_proxy 192.168.0.103:3001
}

kuma.home.arpa:80 {
	reverse_proxy 192.168.0.103:3001
}

kuma-pi.home.arpa:80 {
	reverse_proxy 192.168.0.100:3001
}

beszel.internal:80 {
	reverse_proxy 192.168.0.106:8090
}

beszel.home.arpa:80 {
	reverse_proxy 192.168.0.106:8090
}

ai.internal:80 {
	reverse_proxy 192.168.0.201:3000
}

ai.home.arpa:80 {
	reverse_proxy 192.168.0.201:3000
}

ollama.internal:80 {
	reverse_proxy 192.168.0.201:11434
}

ollama.home.arpa:80 {
	reverse_proxy 192.168.0.201:11434
}

karakeep.internal:80 {
	reverse_proxy 192.168.0.201:4000
}

karakeep.home.arpa:80 {
	reverse_proxy 192.168.0.201:4000
}

paperless.internal:80 {
	reverse_proxy 192.168.0.201:8000
}

paperless.home.arpa:80 {
	reverse_proxy 192.168.0.201:8000
}

paperless-ai.internal:80 {
	reverse_proxy 192.168.0.201:5000
}

paperless-ai.home.arpa:80 {
	reverse_proxy 192.168.0.201:5000
}
budget.internal:80 {
	reverse_proxy 192.168.0.105:5006
}

budget.home.arpa:80 {
	reverse_proxy 192.168.0.105:5006
}
